esNodeCount: {{ add .Values.opensearch.dataNode.count .Values.opensearch.clientNode.count .Values.opensearch.masterNode.count }}

defaultRules:
  labels:
    cluster: service
  rules:
    rookMonitor: {{ .Values.monitoring.rook.enabled }}

rookMonitor:
  enabled: {{ .Values.monitoring.rook.enabled }}
  relabelings:
  - targetLabel: cluster
    replacement: service_cluster
